<div class="container">
  <br><br>
  <div class="ribbon">Profil <i class="fa-solid fa-user wow rotate" data-wow-duration="1s"></i> </div>
  <div class="row">
    <div class="col-lg-4 divleft">
      <div class="profil">
        <div class="wow writing-animation"> Qui suis-je ?</div>
        <div class="h_separator"></div>
      </div> <br>
      <h4>Développeur Full Stack & Technicien hébergement</h4>
      <p>
        Développeur Full Stack avec 2 ans d'expérience dans le développement d'applications web.
        Expérience dans la conception d'API REST, la sécurité, la gestion de bases de données relationnelles
        et le déploiement en production.
      </p>
      <p>
        Également technicien en hébergement d'applications web, en charge de la configuration,
        du déploiement et de la maintenance des serveurs.
      </p>
      <div class="dowload_cv"><a class="btn-cv" href="assets/CvRadoMaheninaEmbauche.pdf" download="Rado_Mahenina_cv.pdf">Télécharger cv <i class="fas fa-download"></i></a></div>

    </div>
    <div class="col-lg-4 divcenter">
      <div class="profil">
        <div class="wow writing-animation"> Information :</div>
        <div class="h_separator"></div>
      </div> <br>
      <p> <b>Nom: </b> RANDRIANJANAHARY Rado Mahenina <br>
          <b>Naissance : </b> 26 Avril 2004 <br>
          <b>Ville : </b> Antananarivo 101, Andoharanofotsy <br>
          <b>Adresse : </b> MB 143 Mahabo <br>
          <b>Contact direct : </b> +261 38 46 349 01 <br>
          <b>E : </b> {{'radomaheninarandrianjanahary@gmail.com'}}
      </p> <br>
      <div class="contact">
        <ul>
          <li><a href="https://www.linkedin.com/in/rado-mahenina-randrianjanahary-049a01331/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a></li>
          <li><a href="https://wa.me/261384634901" target="_blank" rel="noopener noreferrer"><i class="fab fa-whatsapp"></i></a></li>
          <li><a href="https://mail.google.com/mail/?view=cm&fs=1&to=radomaheninarandrianjanahary@gmail.com" target="_blank" rel="noopener noreferrer"><i class="far fa-envelope"></i></a></li>
        </ul>
      </div>

    </div>
    <div class="col-lg-4 divright">
      <div class="profil">
        <div class="wow writing-animation"> Atout :</div>
        <div class="h_separator"></div>
      </div> <br>
      <ul>
        <li>Maîtrise des langages de programmation</li>
        <li>Résolution des problèmes</li>
        <li>Innovation</li>
        <li>Collaboration</li>
        <li>Adaptabilité (Capacité d'apprendre rapidement)</li>
        <li>Gestion temps</li>
      </ul>
    </div>
  </div>
  <hr>

</div>
