  <div class="container">
    <div class="ribbon"> Technologie <i class="fa-solid fa-laptop-code"></i></div>
    <div class="row grid">
      <div class="item wow animate__animated animate__fadeInUp" data-wow-delay="0.00s">
        <div class="item-title">
          <h5>Langages</h5>
          <div class="div_hr"></div>
        </div>
        <div class="item-body">
          <ul>
            <li>Java (SE / Jakarta EE)</li>
            <li>C#</li>
            <li>TypeScript</li>
            <li>JavaScript</li>
            <li>PHP</li>
            <li>Python</li>
            <li>HTML & CSS</li>
          </ul>
        </div>
      </div>
      <div class="item wow animate__animated animate__fadeInUp" data-wow-delay="0.15s">
        <div class="item-title">
          <h5>Frameworks</h5>
          <div class="div_hr"></div>
        </div>
        <div class="item-body">
          <ul>
            <li>Spring Boot</li>
            <li>ASP.NET Core</li>
            <li>Laravel, Symfony</li>
            <li>CodeIgniter</li>
            <li>Angular</li>
            <li>React, React Native</li>
            <li>Next.js</li>
            <li>Django, Flask</li>
          </ul>
        </div>
      </div>
      <div class="item wow animate__animated animate__fadeInUp" data-wow-delay="0.30s">
        <div class="item-title">
          <h5>BDD</h5>
          <div class="div_hr"></div>
        </div>
        <div class="item-body">
          <ul>
            <li>PostgreSQL</li>
            <li>MySQL, MariaDB</li>
            <li>SQL Server</li>
            <li>MongoDB</li>
            <li>Oracle</li>
          </ul>
        </div>
      </div>
      <div class="item wow animate__animated animate__fadeInUp" data-wow-delay="0.45s">
        <div class="item-title">
          <h5>Outils & DevOps</h5>
          <div class="div_hr"></div>
        </div>
        <div class="item-body">
          <ul>
            <li>API REST</li>
            <li>Git, GitHub</li>
            <li>Docker, Maven</li>
            <li>Déploiement & hébergement serveur</li>
            <li>ERP/CRM : Dolibarr, Odoo</li>
            <li>Bootstrap, Sass, responsive</li>
            <li>Sécurité des applications</li>
          </ul>
        </div>
      </div>

    </div>
  </div>

