<div class="container">
  <div class="ribbon"> Projet <i class="fa-solid fa-code wow rotate" data-wow-duration="1s"> </i></div>
  <div class="row boucle-card">
    @for (projet of projets; track projet.title1 + projet.title2; let i = $index) {
      <app-cardprojet
        [isShowModal]="activeModalIndex === i"
        (modalOpened)="showModal(i)"
        (modalClosed)="closeModal()"
        [title1]="projet.title1" [title2]="projet.title2"
        [technologie]="projet.technologie"
        [bdd]="projet.bdd"
        [lien]="projet.lien"
        [description]="projet.description"
        [detail]="projet.detail"
      ></app-cardprojet>
    }
  </div>
</div>
