<div class="container">
  <div class="ribbon">Expérience <i class="fa-solid fa-briefcase wow rotate" data-wow-duration="1s"> </i> </div>
  <div class="row education">
    <ul>
      <li>
        <i class="fa-solid fa-circle-dot wow liste1-wow"> </i> Avril 2025 - Avril 2026
        <div class="description">
          <span class="poste">Développeur Full Stack & Technicien hébergement</span> - <span class="entreprise">Simafri Madagascar</span>
          <ul class="missions">
            <li>Développement et maintenance de différentes applications web pour des clients</li>
            <li>Correction de bugs, refactoring et amélioration des performances applicatives</li>
            <li>Développement de modules personnalisés sur des ERP/CRM</li>
            <li>Adaptation et personnalisation des fonctionnalités ERP/CRM selon les besoins clients</li>
            <li>Déploiement et mise en production des applications</li>
            <li>Maintenance de serveur d'hébergement</li>
          </ul>
        </div>
      </li>
      <li>
        <i class="fa-solid fa-circle-dot wow liste2-wow"> </i> Novembre 2024 - Février 2025
        <div class="description">
          <span class="poste">Stage professionnel</span> - <span class="entreprise">EDBM</span>
          <ul class="missions">
            <li>Stage dans le domaine du développement, au sein d'un organisme public en charge de la création et du suivi des entreprises</li>
            <li>Participation à des projets applicatifs en environnement professionnel</li>
            <li>Contribution à l'optimisation du système interne de gestion administrative, développé en Java Spring Boot</li>
          </ul>
        </div>
      </li>
      <li>
        <i class="fa-solid fa-circle-dot wow liste3-wow"> </i> Août 2024 - Novembre 2024
        <div class="description">
          <span class="poste">Stage de fin d'études</span> - <a class="entreprise" href="https://misaina.com/" target="_blank" rel="noopener noreferrer">Misaina Incorporation</a>
          <ul class="missions">
            <li>Développement d'une application web back-office pour la gestion du secteur textile : analyse des ventes, suivi des stocks de production à une date donnée et identification des périodes de forte activité commerciale</li>
            <li>Technologies : Angular, React Native, Next.js, PostgreSQL</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

  <div class="ribbon ribbon-formation">Formation <i class="fa-solid fa-book-open wow rotate" data-wow-duration="1s"> </i> </div>
  <div class="row education">
    <ul>
      <li>
        <i class="fa-solid fa-circle-dot wow liste1-wow"> </i> 2021 - 2024
        <p class="description">Licence en Informatique - <a href="https://www.ituniversity-mg.com/page/" target="_blank" rel="noopener noreferrer">IT University</a>, Andoharanofotsy, Antananarivo <br> Développement d'applications, de logiciels et de sites web dans le cadre de la formation</p>
      </li>
      <li>
        <i class="fa-solid fa-circle-dot wow liste2-wow"> </i> 2020
        <p class="description">Baccalauréat série D, <br> Ecole catholique : Lycée Saint Pierre Malaza <a href="https://mapcarta.com/fr/W1279349429" target="_blank" rel="noopener noreferrer">(LSPM)</a> </p>
      </li>
      <li>
        <i class="fa-solid fa-circle-dot wow liste3-wow"> </i> Langues
        <p class="description">Français : Cours 2 mois chez Alliance française, <br> Anglais : Cours 3 mois chez CALACOM English à 67Ha </p>
      </li>
    </ul>
  </div>
</div>
